{% extends "HlTesttalkHlTesttalkBundle::layout.html.twig" %}

{% block title "Hello " ~ name %}
{% block head %}
<link href="{{ asset('bundles/testtalk/css/books.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}
{% block content %}
<h1>Welcome {{ name }}! This is the list of books.</h1>
<div>
    <table class="product_row_table">
        <tr>
        {% for book in books %}
                <td>
                    <div class="frame">
                        <img class="product_image" src="{{ asset('bundles/testtalk/images/books/' ~ book.image) }}"/>
                    </div>
                    <div>{{ book.description }}
                    </div>
                </td>
            {% endfor %}
            </tr>
        </table>
    </div>

{% endblock %}

